.background {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d5/Game_zone_house_of_freeda.jpg);
  height: 500px !important;
  width: 100% !important;
  background-size: cover !important;
  background-position: center;
  position: relative;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 4, 107, 0.698);
}
.child_card {
  margin-top: 80px;
}
.child_card:hover {
  box-shadow: rgba(239, 0, 223, 0.863) 0px 7px 29px 0px;
}
