.active:active {
  color: blue;
  background: #f4f8fb;
}

.active {
  cursor: pointer;
}

.carusel {
  position: relative;
}

.swiper-pagination-bullet {
  background: white !important;
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background: #3182ce !important;
  width: 15px;
  height: 15px;
}

.swiper-pagination {
  left: 100px !important;
  padding-bottom: 35px;
}

.carusel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carusel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

.texts {
  overflow-y: scroll;
  height: 600px;
}

.texts::-webkit-scrollbar {
  display: none;
}
