.active:active {
  color: blue;
  background: #f4f8fb;
}

.active {
  cursor: pointer;
}

.carusel {
  position: relative;
}

.swiper-pagination-bullet {
  background: white !important;
  width: 13px;
  height: 13px;
}

.swiper-pagination-bullet-active {
  background: #3182ce !important;
  width: 13px;
  height: 13px;
}

.swiper-pagination {
  left: 100px !important;
  padding-bottom: 35px;
}

.carusel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carusel .swiper-slide img {
  display: block;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 99;
  object-fit: cover !important;
}
.carusel .image {
  filter: brightness(60%) !important;
}

.texts {
  overflow-y: scroll;
  height: 600px;
  /* box-shadow:   inset 0px -30px 8px -10px #b0b0b06f;  */
}

.texts::-webkit-scrollbar {
  display: none;
}
