@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar-track {
  color: green;
}

.thin_hover {
  position: relative;
  z-index: 999;
}

.phone_hover:hover {
  .phone_menu {
    display: flex;
    position: absolute;
    z-index: 999;
    background: white;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .phone_menu input {
    width: 150px;
    justify-content: center;
  }
}

.thin::-webkit-scrollbar {
  display: none;
}
